<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <%=shopName%></h1>
    <p>In our dynamic web application, you can calculate and display nutritional facts for your recipes or meals based on food ingredients in the recipe or the meal. </p>
    <p>Developer: Wiktoria Pejś</p>
    <p><a href="/">Back to home page</a></p>
  </body>
</html>