<!doctype html>
<html>
  <head>
    <title>Add book to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    <div class="navbar" id="myNav">
      <a href="#" class="icon" onclick="toggleMenu()">
        <i class="fas fa-bars" style="color: #fff;"></i>
      </a>
      <div class="nav-links">
        <a href="/" >Home</a>
        <a href="addfood" class="active">Add your food</a>
        <a href="search"  >Search for food</a>
        <a href="searchupdate">Update food</a>
        <a href="listfood">Food list</a>
        <a href="login">Login</a>
        <a href="register">Register with us</a>
        <a href="logout">Logout</a>
      </div>
    </div>

    <div>
    <form method="POST" action="/foodadded">
        <p>Name: <input id="name" type="text" name="name" value="" /></p>
        <p>Typical values per: <input id="value" type="text" name="value" value="" /></p>
        <p>Unit of the typical value: <input id="unit" type="text" name="unit" value="" /></p>
        <p>Carbs: <input id="carbs" type="text" name="carbs" value="" /> g</p>
        <p>Fat: <input id="fat" type="text" name="fat" value="" /> g</p>
        <p>Protein: <input id="protein" type="text" name="protein" value="" /> g</p>
        <p>Salt: <input id="salt" type="text" name="salt" value="" /> g</p>
        <p>Sugar: <input id="sugar" type="text" name="sugar" value="" /> g</p>
        <input type="submit" value="Add Food" />
      </form>

    </div>

      <script>
        function toggleMenu() {
         var x = document.getElementById("myNav");
         if (x.className === "navbar") {
           x.className += " responsive";
         } else {
           x.className = "navbar";
         }
       }
       
          </script>
  </body>
</html>

