<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopName%></h1>
    <p><a href="about">About Recipe Buddy</a></p>
    <p><a href="addfood">Add your food</a></p>
    <p><a href="search">Search for food</a></p>
    <p><a href="searchupdate">Update food</a></p>
    <p><a href="listfood">Food list</a></p>
    <p><a href="login">Login</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="logout">Logout</a></p>
  </body>
</html>
