<!doctype html>
<html>
  <head>
    <title>Login for <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    <div class="navbar" id="myNav">
      <a href="#" class="icon" onclick="toggleMenu()">
        <i class="fas fa-bars" style="color: #fff;"></i>
      </a>
      <div class="nav-links">
        <a href="/" >Home</a>
        <a href="addfood" >Add your food</a>
        <a href="search"  >Search for food</a>
        <a href="searchupdate">Update food</a>
        <a href="listfood">Food list</a>
        <a href="login" class="active">Login</a>
        <a href="register">Register with us</a>
        <a href="logout">Logout</a>
      </div>
    </div>
   
    <form method="POST" action="/loggedin">
      <h1>Log in for <%=shopName%></h1>
        <p>Username: <input id="username" type="text" name="username" value="username" /></p>
        <p>Password: <input id="password" type="text" name="password" value="password" /></p>
        <input type="submit" value="Login" />
      </form>



      <script>
        function toggleMenu() {
         var x = document.getElementById("myNav");
         if (x.className === "navbar") {
           x.className += " responsive";
         } else {
           x.className = "navbar";
         }
       }
       
          </script>
  </body>
</html>