<!doctype html>
<html>
  <head>
    <title>Login for <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Log in for <%=shopName%></h1>
    <form method="POST" action="/loggedin">
        <p>Username: <input id="username" type="text" name="username" value="username" /></p>
        <p>Password: <input id="password" type="text" name="password" value="password" /></p>
        <input type="submit" value="Login" />
      </form>
      <p><a href="/">Back to home page</a></p>
  </body>
</html>