<!doctype html>
<html>
  <head>
    <title>Update food <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Update food item <%=shopName%></h1>
    <form action="/searchupdate-result" method="GET">
      <p>What food item do you want to update?</p>
      <input id="search-box" type="text" name="keyword" value="">
      <input type="submit" value="Search" >
    </form>

    <p><a href="/">Back to home page</a></p>
  </body>
</html>